#view-search
    .sidebar
        input#search-input(type='text')
        .advanced
            span advanced search
        .suggested-tags
            .item.artist
                .add
                    span +
                .name
                    span artist name
            .item.regular
                .add
                    span +
                .name
                    span regular tag
            .item.character
                .add
                    span +
                .name
                    span character name
    .results