@mixin img($path){
    background-image: url("../img/"+$path);
}

$light: #faf3dd;
$dark: #484538;

body{
    background-color: $dark;
    -webkit-user-select: none;
    user-select: none;
    font-family: 'Arial' sans-serif;
}

.selectable{
    -webkit-user-select: all;
    user-select: all;
}

td{
    padding: 0;
}

#main{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

@import "_splash.scss";
@import "titlebar/_main.scss";
@import "menubar/_main.scss";
@import "views/_main.scss";