@mixin img($path){
    background-image: url("../img/"+$path);
}

body{
    background-color: #484538;
    -webkit-user-select: none;
    user-select: none;
}

.selectable{
    -webkit-user-select: all;
    user-select: all;
}

td{
    padding: 0;
}

#main{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

@import "_splash.scss";
@import "titlebar/_main.scss";